.player_class_priority_1 {
    background-color: rgb(201, 255, 203);
}

.player_class_priority_2 {
    background-color: rgb(255, 246, 139);
    margin-left: auto;
}

.player_class_priority_3 {
    background-color: rgb(255, 157, 157);
    margin-left: auto;
}


