.player_class_priority {
    max-width: 80%;
    border: 1px solid rgba(145, 145, 145, 0.56);
    background-color: white;

    &_1 {
        background-color: rgb(201, 255, 203);
        margin-left: auto;
    }

    &_2 {
        background-color: rgb(255, 246, 139);
        margin-left: auto;
    }

    &_3 {
        background-color: rgb(255, 157, 157);
        margin-left: auto;
    }
}

